<nav class="navbar bg-dark d-flex justify-content-between py-3 px-5 align-items-center text-white" data-bs-theme="dark">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
    {% if request.user.is_authenticated and request.user.auth_token %}
    <a class="nav-link active" href="{% url 'logout_page' %}">Logout</a>
    {% else %}
    <div class="d-flex gap-5">
        <a class="nav-link active" href="{% url 'login_page' %}">Login</a>
        <a class="nav-link active" href="{% url 'register' %}">Registration</a>
    </div>
    {% endif %}
</nav>