<nav class="navbar bg-dark d-flex justify-content-between py-3 px-5 align-items-center text-white" data-bs-theme="dark">
    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
    <div class="d-flex gap-5">
        <p class="nav-link active" id="logout" style="cursor: pointer; display: none; margin-bottom: 0px;">Logout</p>
        <a class="nav-link active" href="{% url 'login_page' %}" id="login">Login</a>
        <a class="nav-link active" href="{% url 'register_page' %}" id="register">Registration</a>
    </div>
</nav>